<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>enemy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,297},{107,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,59},{107,80}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy1_donw2.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,835},{165,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,15},{165,142}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy1_down1.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,189},{107,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,32},{107,107}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy1_down3.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,189},{138,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,15},{138,166}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy1_down4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,704},{183,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,38},{183,130}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy1_down5.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,402},{158,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,15},{158,153}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,704},{157,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,41},{157,117}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy2_down1.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,556},{157,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,31},{157,127}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy2_down2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,835},{179,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,12},{179,161}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy2_down3.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,0},{157,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,12},{157,188}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy2_down4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,704},{183,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,38},{183,130}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy2_down5.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,402},{158,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,15},{158,153}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,574},{196,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,30},{196,129}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy3_down1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{196,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,5},{196,171}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy3_down2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,201},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy3_down3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy3_down4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,704},{183,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,38},{183,130}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>enemy3_down5.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,402},{158,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,15},{158,153}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>enemy.png</string>
			</dict>
		</dict>
</plist>