<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TT01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{116,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,178}}</string>
				<key>sourceSize</key>
				<string>{116,178}</string>
			</dict>

			<key>TT02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,291},{103,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,177}}</string>
				<key>sourceSize</key>
				<string>{103,177}</string>
			</dict>

			<key>TT03_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,0},{89,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,176}}</string>
				<key>sourceSize</key>
				<string>{89,176}</string>
			</dict>

			<key>TT04_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,398},{86,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,91}}</string>
				<key>sourceSize</key>
				<string>{86,91}</string>
			</dict>

			<key>TT05_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,177},{82,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,93}}</string>
				<key>sourceSize</key>
				<string>{82,93}</string>
			</dict>

			<key>TT07_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,177},{77,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,95}}</string>
				<key>sourceSize</key>
				<string>{77,95}</string>
			</dict>

			<key>loading01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,291},{107,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,154}}</string>
				<key>sourceSize</key>
				<string>{107,154}</string>
			</dict>

			<key>loading02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,179},{111,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,111}}</string>
				<key>sourceSize</key>
				<string>{111,111}</string>
			</dict>

			<key>loading04_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,274},{90,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,123}}</string>
				<key>sourceSize</key>
				<string>{90,123}</string>
			</dict>

			<key>loading05_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,179},{101,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,94}}</string>
				<key>sourceSize</key>
				<string>{101,94}</string>
			</dict>

			<key>loading06_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,0},{95,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,108}}</string>
				<key>sourceSize</key>
				<string>{95,108}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>loding.png</string>
			</dict>
		</dict>
</plist>